<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hmjy.mapper.CreateOrderMapper">
    <insert id="insertOrderInfo" parameterType="UserOrder">
        insert into user_order_info (userId,orderId,provinceId,cityId,districtId,address,linkMan,mobile,code,allGoodsPrice,dateAdd) values (#{userId},#{orderId },#{provinceId },#{cityId },#{districtId },#{address },#{linkMan },#{mobile },#{code },#{allGoodsPrice },#{dateAdd })
    </insert>
</mapper>